/* Generel Styles */
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
  }
body {
  font-family: 'Roboto Condensed', sans-serif;
  color: black;
  background: white;
  font-size: 14px;
  max-width: 100vw;
  line-height: 1.7em;
}
h1, h2, h3, h4 {
  font-weight: bold;
  text-transform: uppercase;
  margin: 1.5em auto;
}
h2 {
  font-size: 1.4em;
}
h3 {
  font-size: 1.4em;
}
h4 {
  font-size: 1em;
}
/* black Section */
.blackSection {
  background-color: black;
  color: white;
  padding: 2rem 1rem;
}
.blackSection a, .blackSection a:visited {
  color: white;
}
.blackSection a:hover {
  text-decoration: underline;
}
/* white Section */
.whiteSection {
  background-color: white;
  color: black;
  padding: 2rem 1rem;
}
.whiteSection a, .whiteSection a:visited {
  color: black;
}
.whiteSection a:hover {
  text-decoration: underline;
}

@media all and (min-width: 800px) {
  .blackSection, .whiteSection {
    padding: 2rem 4rem;
  }
 }

/* FontAwesome Icon */
.fa-headset { 
  font-size: 2em;
  background-color: white;
  border-radius: 10%;
  z-index: 10;
  position: fixed;
  bottom: 4%;
  right: 4%;
}

/* Header section */
header {
  height: 35vh;
  background-image: url("../images/squares.svg");
  background-repeat: no-repeat;
  background-size: cover;
  display: flex;
  align-items: center;
}
header h1 {
  font-size: 1.8em;
  letter-spacing: 0.1em;
  font-weight: bold;
  margin-left: 1em;
}
@media all and (min-width: 800px) {
  header h1 {
    margin-left: 10%;
  }
}
/* Navigation Section*/
.navDesktop {
  display: none;
}
#navbar {
  padding: 0;
  max-width: 100vw;
  position: -webkit-sticky;
  position: sticky;
  top: 0px;
}
.navMobile {
  position: relative;
  display: inline-block;

}
.navMobile-content {
  display: none;
  position: absolute;
  z-index:1;
  background-color: black;
  width: 96vw;
  height: 90vh;
  line-height: 2em;
  padding-left: 1em;
  font-size: 1.1em;
}
.navMobile:hover .navMobile-content {
  display: block;
}
.navMobile span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: block;
  transform: rotate(90deg);
  position: relative;
  left: 1em;
}
.navMobile:hover span {
  transition: transform .5s;
-webkit-transition: -webkit-transform .5s;
  display: inline-block;
  transform: rotate(180deg);
}
@media all and (min-width: 800px) {
  .navMobile {
    display: none;
  }
  .navDesktop {
    display: flex;
    justify-content: space-evenly;
  }
  .navDesktop a {
    text-decoration: none;
  }
}


/* Contact Section */

.contact {
  text-decoration: underline;
  line-height: 2em;
}
.contact span {
  background-color: rgba(255, 255, 0, 0.6);
}
.SoMe {
  display: inline-flex;
}
.SoMe p {
  padding: 0 0.2em;
}
.contact button {
  padding: 1em;
  margin: 1em auto;
  background-color: white;
  border: 1px solid black;
}

.videopresentation {
  padding: 0.1em;
}
.videopresentation iframe {
  min-height: 250px;
  width: 92vw;
  border: 1px solid black;
  box-shadow: -5px 5px 0px 1px black;
}

@media all and (min-width: 800px) {
  .contact {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    padding-left: 5em;
    padding-right: 5em;
  }
  .videopresentation iframe {
    min-height: 250px;
    width: 40vw;
    margin-left: 2em;
  }
}

/* Options Section */


.options {
  padding-left: 1em;
}
.options span {
  font-weight: bold;
}

@media all and (min-width: 800px) {
  .options-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-gap: 1em;
  }
  .options {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: 1fr 1fr 1fr 1fr;
  }
}
/* Choice Section */

.choicesBoxes {
  border: 1px solid black;
  box-shadow: -5px 5px 0px 1px black;
  margin-bottom: 1em;
  padding: 1em;
}
.choicesHeaders {
  text-transform: uppercase;
  border-bottom: 1px solid black;
  font-size: 1.2em;
  font-weight: 800;
}
.choicesContent h4 {
  text-transform: uppercase;
}

@media all and (min-width: 800px) {

  .choicesBoxes {
    padding: 2em;
  }
  .choicesGrid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 2em;
    line-height: 3em;
  }
}

/* How are we different section */


.dif-content {
  padding-left: 1em;
  padding-right: 1em;
}
.dif-content h2 {
  text-transform: uppercase;
}

@media all and (min-width: 800px) {
  .dif-content {
    padding-left: 0;
    padding-right: 1em;
  }
  .howDifferent-Grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    /* grid-gap: 1em; */
  }
}

/* Partner Section */

#partnerseSection {
  max-width: 100vw;
}

.partners-Grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr 1fr 1fr 1fr;
}
.partners-Grid img {
  max-width: 90%;
  filter: grayscale(100%);
}

/* Footer */

.footerContent {
  display: flex;
  flex-direction: column;
  text-align: left;
}
.footerContent h3 {
  text-align: left;
  margin-left: 0;
}
.footerContent a, .footerContent p {
  font-size: 0.8em;
}
.noTextDecoration a, .noTextDecoration p {
  text-decoration: none;
}
.underlined {
  text-decoration: underline;
}
footer > p {
  margin: 3em auto 1em auto;
  font-size: 0.8em;
}

@media all and (min-width: 600px) {
  .footer-grid {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-gap: 3em;
  }
}
